$main-gradient: linear-gradient(135deg, #00d8ff 0%, #7db9e8 100%);
$alt-gradient: linear-gradient(200deg, #84fab0 0%, #8fd3f4 100%);
$font-main: -apple-system, BlinkMacSystemFont, sans-serif;
$font-serif: Georgia, serif;
$light-grey: #f8f8f8;
$dark-grey: #4d4d4d;
$main-blue: #00c5cc;
$heading-shadow:-2px 2px 0px #009eb8, -3px 3px 0px #00aea7;
$title-shadow: -1px 1px 1px rgba(0, 0, 0, 0.22);
$nav-shadow:0px 1px 3px rgba(#808080, 0.13);
$nav-shadow-hover:0px 1px 3px rgba(#808080, 0.5);
$danger: #fa8072;
$success: #33cfa4;
$bold-grey:#9d9d9d;