@import 'variables';

mainPage {
  font-family:$font-main;
  color: $dark-grey;
  background: $main-gradient;
  background-size: cover;
}

a {
  color: $main-blue;
  text-decoration: none;
}

.serif {
  font-family: $font-serif;
}

.white {
  color: white;
}

.bold-shadow {
  text-shadow: $heading-shadow;
  color: white;
}

.center {
  text-align: center;
  margin: auto;
}

.right {
  text-align: right;
}

.xs {
  font-size: .4rem;
}

.sm {
  font-size: .6rem;
}

.me {
  font-size: 1rem;
}

.lg {
  font-size: 1.5rem;
}

.xl {
  font-size: 2.5rem;
}

button {
  cursor: pointer;
}

/* NAV
*********/

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.9);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.logo {
  margin: 0.5rem;
  justify-content: flex-start;
  align-content: flex-start;
  border: 3px solid white;
  border-radius: 3px;
  box-shadow: $nav-shadow;
}

.button {
  background: white;
  border: 3px solid white;
  border-radius: 3px;
  padding: 0.7rem;
  box-shadow: $nav-shadow;
  color: $main-blue;
  margin: 0.5rem;
}

.button:hover {
  text-decoration: none;
}


/*BANNER
*********/

.banner {
  width: 120vw;
  z-index: -1;
  position: fixed;
  margin-top: -7rem;
}

.banner-text {
  padding: 0 1rem 0 1rem;
  color: white;
}

h1.banner-bold {
  color: white;
  max-width: 60vw;
  opacity: 0.8;
  font-size: 2.2em;
  font-style: italic;
}


/* CONTENT
*********/

.screens {
  padding-top: 5rem;
}

.content-image {
  display: flex;
  text-align: left;
  width: 20rem;
  word-wrap: break-word;
  justify-content: center;
  align-items: center;
}

.welcome {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 3rem;
}

.welcome * {
  margin: 2rem;
  text-align: left;
  width: 20rem;
}
.profiles {
  border-radius: 12rem;
  max-width: 10rem;
  height: 10rem;
  padding: 2rem 2rem;
}
p.profile-title {
  margin-top: -1rem;
  max-width: 15rem;
  margin: 1rem auto;
  font-size: 1.5rem;
  color: $dark-grey;
  text-shadow: $title-shadow;
}
p.profile-title-fancy {
  margin-top: -1rem;
  max-width: 15rem;
  margin: 1rem auto;
  color: white;
  text-shadow: $title-shadow;
}

.quote {
  font-size: 2rem;
  padding: 5rem 0;
}
.bucket {
  display: flex;
  justify-content: space-around;
  align-content: center;
  border-radius: 0.5rem;
  background: $light-grey;
  margin:5rem 0;
  flex-wrap: wrap;
}
.bucket-fancy {
  display: flex;
  justify-content: space-around;
  align-content: center;
  border-radius: 0.5rem;
  color:white;
  background-image: $alt-gradient;
}
.assessment{
  max-width: 2rem;
  padding:0px;
  background:$main-blue;
}

.big-nav {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.dash-nav {
  display: flex;
  justify-content: flex-end;
}

.box {
  margin-top: 2rem;
  max-width: 15rem;
  box-shadow: $nav-shadow;
  border-radius: 0.5rem;
}


/*PLAYLIST
*********/

.playlist-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  background: $light-grey;
  padding: 1rem;
  border-radius: 2px;
}

.playlist-card-contents {
  background: white;
  border-radius: 0.2rem;
  margin: 0.4rem;
  padding: 0.5rem;
  box-shadow: $nav-shadow;
}

.playlist-card-contents:focus {
  outline: 0px;
}

.email-form {
  align-self: center;
}

.selected {
  border: 0.2px solid $success;
}

.hidden {
  display: none;
}

.song-title {
  padding: 0.5rem;
  color:$bold-grey;
  text-align: left;
  max-width: 15rem;
  font-size: 12px;
}

.delete {
  color:rgb(208, 208, 208);
}

.delete:hover {
  color: $danger;
}


/*SLANTDIVSTUFF
*********/

.diagonalbottom {
  background: white;
  height: 10rem;
  margin: -5rem 0 -1rem -1rem;
  width: 110%;
  transform: skew(-2deg, 4deg);
  box-shadow: 0px 3px 0px rgb(0, 158, 184), 0px 8px 0px #00aea7, 0px 12px 0px rgba(51, 207, 164, 0.5), 0px 15px 0px rgba(51, 207, 164, 0.3), 0px 19px 0px rgba(51, 207, 164, 0.2);
}


/* FORMS
*********/

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

form * {
  margin-bottom: 10px;
  border-radius: 4px;
  border: none;
  background: #f8f8f8;
  padding: 0.7rem;
}

input::placeholder {
  color:$bold-grey;
}

form h5 {
  background: none
}

form.email {}


/*LINK
*********/

.link {
  color: $main-blue;
}


/* KEYFRAMES
*********/

.button-hover {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}

.button-hover:hover, .button-hover:focus, .button-hover:active {
  transform: translateY(3px);
}


/*DROPDOWN
*********/

.dropdown {
  display: inline-block;
}

.dropdown__content {
  display: none;
  position: absolute;
}

.dropdown--active .dropdown__content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.dropdown-content {
  border-radius: 2px;
  padding-right: 4rem;
  box-shadow: 0 2px rgba(0, 0, 0, 0.05);
}

button.button.dropdown-content {
  margin: 0.5rem 0;
}


/*FOOTER
*********/

.footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  padding: 2rem;
  max-width: 10rem;
}

.videos-list {
  box-sizing: border-box;
  padding: 2%;
  padding-top: 0px;
  height: 25vw;
  width: 30vw;
  border: 0px solid;
  border-radius: 10px;
  background-color: #F1F1F1;
}

.createplaylistheader{
  height: 2.5vw;
}

.createplaylist{
  display: flex;
  justify-content: space-around;
}

.questions-form {
  box-sizing: border-box;
  padding: 2%;
  padding-top: 0px;
  height: 25vw;
  width: 30vw;
  border: 0px solid;
  border-radius: 10px;
  background-color: #F1F1F1;
}

.sortablelist{
  padding: 2%;
  padding-top: 0px;
  min-height: 25vw;
  width: 30vw;
  box-sizing: border-box;
  border: 0px solid;
  border-radius: 10px;
  background-color: #F1F1F1;
}

.grabbable{
  text-align: left;
}

.playlistlist{
  text-align: left;
}

.searchvideo{
  background-color: white;
}

.searchvideo:hover{
  background-color: white;
  cursor: pointer;
}

.searchinput{
  margin-bottom: 10px;
  border-radius: 4px;
  border: none;
  background: #f8f8f8;
  padding: 0.7rem;
}

.searchedvideos{
  overflow-y: scroll;
  height: 35%;
  width: 26vw;
  background-color: #f8f8f8;
  border-radius: 2%;
  color: black;
}

.searchitem{
  color: black;
}

.searchitem:hover{
  cursor: pointer
}


/*MEDIA QUERIES*/

@media (max-width: 600px) {
  .logo {
    width: 3rem;
  }
  .banner {
    width: 200vw;
  }
  h1 {
    font-size: 2rem;
  }
  h2.body-bold {
    padding-top: 0.5rem;
    font-size: 1.5rem;
  }
  body {
    font-size: 1.5rem;
  }
  .content {
    padding-top: 1rem;
    margin-top: 1vmax;
  }
  .content-image {
    max-width: 15rem;
    padding: 1rem;
  }
}

@media (max-width: 800px) and (min-width: 600px) {
  .banner {
    width: 250vw;
  }
  .logo {
    width: 3rem;
  }
  h1 {
    font-size: 2rem;
  }
  h2.body-bold {
    padding-top: 0.5rem;
    font-size: 1.5rem;
  }
  body {
    font-size: 1.5rem;
  }
  .content {
    padding-top: 1rem;
    margin-top: 1vmax;
  }
  .content-image {
    max-width: 12rem;
    margin: auto;
  }
}

@media (max-width: 1200px) and (min-width: 800px) {
  .banner {
    width: 250vw;
  }
  body {
    font-size: 20px;
  }
  .logo {
    max-width: 3.5rem;
  }
  .button {
    font-size: 1rem;
  }
  .content-image {
    width: 10rem;
  }
}

@media (min-width: 1200px) {
  .diagonalbottom{
    transform: skew(-2deg, 2deg);
  }
  .banner {
    width: 170vw;
  }
  body {
    font-size: 1rem;
  }
  .logo {
    width: 4.5rem;
  }
  .content {
    padding-top: 2rem;
    margin-top: 3rem;
  }
  .button {
    font-size: 1rem;
  }
  .content-image {
    width: 10rem;
  }
  h2.body-bold {
    margin-top: 0;
  }
}

.grabbable {
    cursor: move;
    cursor: grab;
    padding: 1%;
}


.grabbable:active {
    cursor: move;
}

div.spacearound {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


/*Timer
********/

.timer {
  width: 100px;
  height: 100px;
  background: $main-blue;
  border-radius: 50px
}

.center {
  padding-top: 38px;
}

#videoElement {
    width: 500px;
    background-color: #666;
}

.content {
  margin-top: 1rem;
  text-align: center;
  padding: 2rem;
  background: white;
  padding-bottom: 10rem;
}