.email-sent,
.loading {
  margin-bottom: 30px;

  div {
    display: inline-block;
  }

  i {
    margin-left: 10px;
  }
}
.Videos {
}
.Playlist {
  //background-color: black;
  padding: 20px;
}
.PlayList td {
  background-color: pink;
}
